body {
background-color: rgb(107,184,130);
}

h1 {
	font-size: 20px;
<<<<<<< HEAD
	font-family: Helvetica;
	color: white;
}

.wasteImage {
	
=======
}
.generalidea {
	font-family: Helvetica;
	font
>>>>>>> 2082218ca5a25e49da6b8aba7d20e986a8db6676
}