body {
	padding: 0;
	margin: 0;
	z-index: -1;
}

.homeTreeImage {
	position: absolute;
 	width: 100%;
 	height: 100em;
 	background-repeat: no-repeat;
	background-image: url("homeTree.jpg");
}

.titles > h1 {
	font-size: 40px;
	font-family: Helvetica;
	float: left;
	margin: 0px;
}

h2 {
	color: white;
	font-family: Helvetica;
	font-size: 100px;
}

.titles {
	position: fixed;
	width: 100%;
	height: 50px;
	color: white;
	z-index: 1;
}

.titles1 {
	border-bottom: 2px solid rgba(0, 0, 0, 1);
	background-color: white;
	color: black;
	z-index: 1;
}

.titles > h5 {
	font-family: Helvetica;
	font-size: 30px;
	float: right;
	margin-bottom: 0;
	margin-top: 10px;
	z-index: 1;
}

.learn {
	position: absolute;
	margin-left: 105px;
	margin-top: 100px;
}

.act {
	position: absolute;
	margin-top: 200px;
	margin-left: 210px;
}

.explainerHeader {
	position: absolute;
	font-family: Avenir;
	margin-top: 720px;
	text-align: center;
	font-size: 30px;
}

.explainer {
	position: absolute;
	font-family: Avenir;
	margin-top: 849px;
	margin-left: 200px;
	font-size: 20px;
}

.trashCan img {
	position: absolute;
	margin-top: 1100px;
	width: 50%;
	height: auto;
}

.Q1Header {
	position: absolute;
	margin-top: 1100px;
	margin-left: 700px;
	font-family: Avenir;
	font-size: 30px;
}

.Q1 {
	position: absolute;
	margin-top: 1200px;
	margin-left: 700px;
	max-width: 400px;
	font-family: Avenir;
	font-size: 20px;
}

.trashSeperation img {
	position: absolute;
	margin-top: 1550px;
	width: 50%;
	height: auto;
	right: 0;
}

.Q2Header {
	position: absolute;
	margin-top: 1600px;
	margin-left: 200px;
	font-family: Avenir;
	font-size: 30px;
}

.Q2 {
	position: absolute;
	margin-top: 1700px;
	margin-left: 200px;
	max-width: 400px;
	font-family: Avenir;
	font-size: 20px;
}

.wasteManagement img {
	position: absolute;
	margin-top: 2120px;
	margin-left: -10px;
	width: 50%;
	height: auto;
	
}
.Q3Header {
	position: absolute;
	margin-top: 2150px;
	margin-left: 700px;
	font-family: Avenir;
	font-size: 30px;
}

.Q3 {
	position: absolute;
	margin-top: 2250px;
	margin-left: 700px;
	max-width: 400px;
	font-family: Avenir;
	font-size: 20px;
}

.trashPile img {
	position: absolute;
	margin-top: 2600px;
	width: 50%;
	height: auto;
	right: 0;	
}

.Q4Header {
    position: absolute;
	margin-top: 2600px;
	margin-left: 130px;
	max-width: 500px;
	font-family: Avenir;
	font-size: 30px; 
}

.Q4 {
    position: absolute;
	margin-top: 2700px;
	margin-left: 130px;
	max-width: 450px;
	font-family: Avenir;
	font-size: 20px;
}