body {
background-color: rgb(107,184,130);
}

h1 {
	font-size: 30px;
	font-family: Helvetica;
	color: white;
	margin-top: 0px;
}

.wasteImage {
	margin-left: 250px;
}

.wrapper {
	display: grid;
	grid-template-columns: auto 25% 25% auto;
	grid-template-rows: 50% 50%;
	border: 2px solid black;
}