body {
	padding: 0;
	margin: 0;
	z-index: -1;
	background-color: rgb(234, 234, 234);
}

h1 {
	position: absolute;
	font-family: Helvetica;
	font-size: 130px;
	top: 60px;
}

.titles a.logo{
	font-size: 40px;
	font-family: Helvetica;
	float: left;
	margin: 0px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.titles {
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 1;
	top: 0px;
	background-color: white;
}

.titles1 {
	background-color: white;
	z-index: 1;
	border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.titles a.act {
	font-size: 30px;
	float: right;
	margin-bottom: 0;
	margin-top: 5px;
	font-family: Helvetica;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.titles a.articles {
	position: absolute;
	color: black;
	font-size: 30px;
	right: 220px;
	margin-bottom: 0;
	margin-top: 5px;
	z-index: 1;
	font-family: Helvetica;
	font-weight: bold;
	text-decoration: none;
}

.titles1 a.logo {
	color: black;
}

.titles1 a.act {
	color: black;
}

.titles1 a.articles {
	color: black;
	position: fixed;
}

.grid-container {
	margin-top: 350px;
	display: grid;
	width: 80%;
	grid-template-columns: auto auto;
	font-family: Avenir;
	grid-column-gap: 10%;
	border: 3px solid black;
}

.grid-item {
	justify-content: center;
	border: 3px solid black;
}


			




